/* Comentario */

/* Estilo de la navegacion */
#navegacion{
    position: fixed;
    top: 0;
    width: 90%;
    background-color: #1F1F1F;
    z-index: 1000;
    padding: 0;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content:end;
    flex-wrap: wrap;
    padding-right: 15px;
    gap: 20px;          /* espacio entre texto */
}

nav ul li a{
    color: #F7F7F7;
    display: block;
    font-size: 1rem;
}

nav ul:hover li a:not(:hover){
    font-size: 0.95rem;
}

nav ul li a:hover {
    color: #b7bcc0;
    background-color: #eeeeee56;
    transform: scale(1.1);
    transition: all 0.3s ease;
    border-radius: 4px;
}

/* Encabezado */
.Encabezado{
    text-align: center;
    width: 90%;
}

#Perfil{
    display: flex;
    align-items: center;       /* centra verticalmente */
    justify-content: center;   /* centra horizontalmente dentro del header */
    gap: 1rem;                 /* espacio entre imagen y texto */
    padding: 25%  0;

}

#Perfil img{
    width: 150px;
    height: 150px;
    border-radius: 50%;         /* aplica un borde redondeado */
    border: 3px solid white;  /* aplica un borde blanco*/
    object-fit: cover;          /* no deforma la imagen */
    object-position: 95% 0%;    /* para acomodar la parte de la imagen a mostrar*/
}

#Perfil h1 h4{
    margin: 0;
    text-align: left;
}

/* Estilo en general */
body{
    font-family:"Montserrat",sans-serif;
    font-weight: 300;
    background-color: black;
    color: #F7F7F7;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.Fondo{
    background-color: #1F1F1F; 
}

.container {
    padding: 30px;
    background-color: #333333;
    
}

h2{
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
    padding: 10px 0px 20px 0px;
}

.container h4, .container h3{
    color: rgb(167, 78, 78);
}

.box_informacion{
    background-color: #1F1F1F;
    margin: 0px 5% 0px 2%;
    padding: 10px 10px 10px 10px;
    width: 40%;
    max-width: 45%;
    min-width: 35%;
    display: inline-block
}

img{
    max-width: 80%;
}

a {
    text-decoration: none;
}

/* formato secciones */
.Box-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.Box{
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.664);
    padding: 0 1rem 01rem 1rem;
}

.date {
    color: #fcfcfc9c;
    font-weight: bold;
    margin-bottom: 10px;
}

.btn {
    display: inline-block;
    background-color: rgb(187, 47, 47);
    color: white;
    padding: 8px 15px;
    border-radius: 3px;
}

.btn:hover{
    background-color: rgb(119, 25, 25);
}